{# empty Twig template #}
{# empty Twig template #}
{% extends "s4tabitayVitrineBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Mon profil</h1>
    <h5>Résumé de mes commandes</h5>
    <table class="bordered">
        <thead>
           <tr>
               <th> </th>
               <th>Date</th>
               <th>Montant</th>
               <th>Status</th>
           </tr>
        </thead>
        {% for commande in commandes %}
        <tr>
            <td>n°{{ commande.id }}</td>
            <td>{{ commande.date|date('d-m-Y') }}</td>
            <td></td>
            <td>
                {% if commande.etat == 1 %}
                    Terminé
                {% else %}
                    En cours
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h5>Mes informations</h5>
    <div>
        <p>Nom : {{ user.nom }}</p>
        <p>Prénom : {{ user.prenom }}</p>
        <p>Adresse e-mail : {{ user.adressemail }}</p>
    </div>
            

        

{% endblock %}