{# empty Twig template #}
{# empty Twig template #}
{% extends "s4tabitayVitrineBundle:Default:layout.html.twig" %}

{% block caroussel %}
{% endblock %}

{% block content %}
    <table class="striped">
        <thead>
        <tr>
            <th>Article<th>
            <th>prix Unitaire<th>
            <th>Quantité<th>
            <th>total<th>
        </tr>
        </thead>
        

    {% if articles|length>0 %}
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}<td>
                <td>{{ article.price }}€<td>
                <td><a href="{{ path('s4tabitay_vitrine_addArticles',{id:article.id,quantity:panier.getQuantity(article.id)-1}) }}"><i class="material-icons">remove</i></a>{{ panier.getQuantity(article.id) }}<a href="{{ path('s4tabitay_vitrine_addArticle',{id:article.id}) }}"><i class="material-icons">add</i></a><td>
                 <td>{{  panier.getPrixArticles(article.id,article.price) }}€<td>
            </tr>
        
            
        {% endfor %}
        </table>
        {{ render(controller('s4tabitayVitrineBundle:Panier:infoPanier')) }}
    {% endif %}


{% endblock %}